main div p {
  margin: auto;
  width: 50%;
}

main h2 {
  font-size: 1.75em;
  /* margin: auto; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
}

li {
  margin-left: 40px;
  margin-bottom: 10px;
}

#songsAndMovies {
  /* display: flex;
  justify-content: space-evenly; */
}

#theReferences {
  margin-top: 50px;
}

div ul {
  border-style: solid;
  border-width: thin;
}



.navbar-nav li:hover{
  color: #111;
  transform: scale(1.2);
  text-shadow: none;
  background-color: #ddd;
  border: #e5f04d ridge;
  border-width: 5px;
  
}