body {
  background: linear-gradient(to left, #1a1ae0, #e5f04d);
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}

/* .navbar {
  position: fixed;
  background-color: var(--bg-primary); 
  width: 5rem;
  height: 100vh;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.navbar:hover {
  width: 16rem;
} */

header {
  /* background-color: lightslategray; */
  height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* add detail to nav bar: */
nav ul li{

}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif; 
  color: white;
}

a {
  text-decoration: none;
  color: white
}

h1 {
  background-color: inherit;
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}


main>h2 {
  font-size: 1.75em;
  width: max-content;
  padding: 30px;
  margin: auto;
  margin-bottom: 10px;
}

main>div>article>h2 {
  text-decoration-line: none;
  font-size: 1.55em;
  width: max-content;
  padding: 30px;
  margin: auto;
  margin-bottom: 10px;
}

section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

article {
  border: 5px #020005;
  padding: 30px;
  margin-top: 30px;
  background-color: lightslategray;
  border-radius: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

article h2 {
  font-size: 1.75em;
  padding-bottom: 10px;
  text-decoration: underline;
}

article img {
  width: 20%;
}

p {
  font-size: 1.25em;
  margin-bottom: 15px;
  text-align: center;
}

ul {
  font-size: 1.75em;
  list-style-position: inside;
  margin-bottom: 15px;
}

li {
  font-size: 1.5 em;
  margin-top: 15px;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#small-img {
  width: 10%;
  padding: 10px;
}


button {
  background-color: rgba(83, 129, 235, 0.727);
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 25px;
  border-style: solid;
  color: white
}

legend {
  font-size: 1.75em;
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(245, 245, 245);
  width: 400px;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
}

fieldset>label {
  width: 400px;
  margin:auto;
  margin-bottom: 5px;
}

fieldset>input {
  width: 400px;
  margin:auto;
  padding: 5px;
  margin-bottom: 15px;
}

/* footer {
  display: flex;
  font-size: 0.90em;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  /* background-color: lightslategray; */
  /* margin-top: 15px; */
/* }  */

form label{
  margin-top: 50px;
  font-size: larger;
}

form label select{
  box-shadow: 0 10px 25px black;
  font-size: 1.5rem;
  padding: 1em 1.5em;
  background: #4d5061;
  color: white;

}

h3{
 text-align: center;
 margin-top: 10px;
}

footer h6 {
  margin: auto;
}


/* Start of box animation. Assistance by: Youtube video: Animated Background with Pure CSS and Html by Divinector */
.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: white;
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration:10s;
}

.box-area li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
  
}

.box-area li:nth-child(4){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
  
}

.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}


@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}